@mixin imgstyle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

@mixin cover {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: rgb(15, 18, 58);
  border-radius: 5%;
  opacity: 0;
  &:hover {
    opacity: 1;
    transition: all 1s ease;
  }
}

@mixin covera {
  display: block;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: normal;
  text-align: center;
  width: auto;
  height: auto;
  background-color: rgb(171, 183, 183);
  padding: 3%;
  border-radius: 5%;
}
