@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
  height: 100%;
  margin: 15px 35px 0px 35px;
  background-color: $backgroundgrey;
}

.main {
  display: block;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  padding: 5% 20% 4% 20%;
  p {
    text-align: left;
    font-size: 22px;
    font-family: $font-family;
    font-weight: 600;
    line-height: 1.8em;
    color: rgb(115, 116, 117);
  }
}

.footer {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 200px;
  background-color: $backgroundfooter;
  border-radius: 0px 0px 15px 15px;
  p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 22px;
    font-family: $font-family;
    font-weight: 600;
    color: white;
  }
  a {
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 20px;
    font-family: $font-family;
    font-weight: 600;
    color: rgb(172, 182, 219);
  }
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
  border: 6px solid white;
  position: relative;
  top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 66px;
}

@media (max-width: $breakpoint-tablet) {
  body {
    margin: 10px 25px 0px 25px;
  }
  .main {
    padding: 3% 5% 10% 10%;
  }
}
